*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar {
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

i {
    cursor: pointer;
}

.cart {
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 2px;
    position: relative;
}

.cartamount {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    font-size: 16px;
    padding: 2px
}

a {
    text-decoration: none;
    color: white;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 204px);
    justify-content: center;
    gap: 30px
}

.item {
    border-radius: 4px;
    border: 2px solid #212529;
}

.detail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.bi-dash-lg {
    color: rgb(255, 0, 0);
}

.bi-plus-lg {
    color: rgb(0, 255, 0);
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
.center{
    position: absolute;
    top:35px;
    left: 100vh;
}
.center:hover{
    background-color:white;
    color: #212529;
    border-radius: 4px;
    padding:3px 6px;
}
.homebtn {
    background-color: #212529;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.navbar2
{
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.shopping-card{
    display: grid;
    grid-template-columns: repeat(1,320px);
    justify-content: center;
    gap: 10px;
}

.carditem {
    display: flex;
    gap: 10px;
    border: 2px solid #212529;
    border-radius: 3px;
}

.title-price-x {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 5px;
}
.mt{
    background-color: rgb(255, 0, 0);
    margin-bottom: 10px;
    border-radius: 5px;
}
.card-price {
    background-color: #212529;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
}
.bi-x-lg
{
    color: red;
}
.details
{
    margin-top:3px;
}
.total-price {
    margin-top: 10px;
}